<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= current_page.data.title || "Nature Conservancy of Canada" %></title>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <div id="logo">
        <a href='http://www.natureconservancy.ca'>
          <%= image_tag 'logo-2x.jpg', alt: 'Nature Conservancy of Canada' %>
        </a>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
