---
title: Nature Conservancy of Canada
---

<section class="block block--image hero">
  <div class="container">
    <h1 class='hero__heading'>Lend a hand for nature</h1>
  </div>
</section>

<section class="block">
  <div class="container text-center">
    <div class="grid-item grid-8 grid--push-2">
      <h2>Intro</h2>
      <p><%= lorem.sentences 5 %></p>
    </div>
  </div>
</section>

<section class="block block--cream">
  <div class="container container--halves">
    <div class="grid-item grid-half--marginless-left text-split">
      <h2>Volunteer</h2>
      <p><%= lorem.sentences 5 %></p>
      <div class="text-center">
        <a href='http://www.natureconservancy.ca/en/what-you-can-do/conservation-volunteers/'>
          <%= image_tag 'cv-button.png', alt: 'Volunteer with us' %>
        </a>
      </div>
    </div>
    <div class="grid-item grid-half--marginless-right">
      <blockquote>
        <%= lorem.sentences 1 %>
        <span class="blockquote-triangle"></span>
      </blockquote>
      <p class='blockquote-attribution'>Nadia Alam - Current employee</p>
    </div>
  </div>
</section>

<section class="block block--navy">
  <div class="container container--thirds text-center">
    <div class="grid-item grid-4">
      <div class="pledge">
        <%= image_tag 'pledge1.png', class: 'pledge-icon' %>

        <div class="ribbon">
          <strong class="ribbon-content">
            <h2>At home</h2>
          </strong>
        </div>
      </div>

      <p><%= lorem.sentences 2 %></p>
    </div>

    <div class="grid-item grid-4">
      <div class="pledge">
        <%= image_tag 'pledge2.png', class: 'pledge-icon' %>

        <div class="ribbon">
          <strong class="ribbon-content">
            <h2>Outside</h2>
          </strong>
        </div>
      </div>

      <p><%= lorem.sentences 2 %></p>
    </div>

    <div class="grid-item grid-4">
      <div class="pledge">
        <%= image_tag 'pledge3.png', class: 'pledge-icon' %>
        <div class="ribbon">
          <strong class="ribbon-content">
            <h2>Community</h2>
          </strong>
        </div>
      </div>

      <p><%= lorem.sentences 2 %></p>
    </div>

    <iframe src='http://www.e-activist.com/ea-action/widget?widgetId=2330'></iframe>
  </div>
</section>

<section class="block block--image block--donate">
  <div class="container container--halves">
    <div class="grid-item grid-half--marginless-left text-split">
      <h2>About NCC</h2>
      <p><%= lorem.sentences 5 %></p>
    </div>
    <div class="grid-item grid-half--marginless-right">
      <h2>Donate</h2>
      <p><%= lorem.sentences 2 %></p>
      <div class="text-center">
        <a href='https://donate.natureconservancy.ca/ea-action/action?ea.client.id=1803&ea.campaign.id=21474&_ga=1.24758714.1263474804.1423013933'>
          <%= image_tag 'ncc-donate-button.png', alt: 'Donate' %>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="block">
  <div class="container">
    FOOTER
  </div>
</section>
